go/*
liteide/*
diff/*
git/*
workspace/src/github.com
workspace/src/golang.org
liteide_config/locked.txt
workspace/bin/dlv.exe
workspace/bin/gocode.exe
workspace/bin/godef.exe
workspace/bin/godoc.exe
workspace/bin/golint.exe
workspace/src/hello/hello.debug.exe
workspace/src/hello/hello.exe
GitPortable.exe
diffutils-dep.zip
diffutils.zip
golang.zip
liteide.zip
mingit.zip